.flip-card {
  background-color: transparent;
  width: 260px;
  height: 260px;
  perspective: 1200px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: none;
  border-radius: 20px;
}

.flip-card-front {
  background-color: none;
  color: black;
}

.flip-card-back {
  width: 100%;
  height: 100%;
  background-color: none;
  transform: rotateY(180deg);
  border-radius: 20px !important;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}
