.slick-prev:before,
.slick-next:before {
  color: green !important;
  font-size: 2rem !important;
  display: block !important;
}

.width-item {
  width: 70% !important;
  height: 100% !important;
}

.active_Film {
  @apply bg-blue-600 text-white;
}

.none_active_Film {
  @apply bg-red-400 text-gray-800;
}
